/.env
/.env.*
/vendor/
/node_modules/
/henjo-frontend/henjosafaris-frontend/.next/
/henjo-frontend/henjosafaris-frontend/.turbo/
/henjo-frontend/henjosafaris-frontend/.vercel/
/henjo-backend/vendor/
/henjo-backend/node_modules/
/henjo-backend/public/hot
/henjo-backend/storage/
/henjo-backend/.idea/
.DS_Store
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/.phpunit.result.cache
